# docker-compose.yml
version: '3.8'

services:
  postgres:
    image: postgres:latest
    container_name: alx_postgres
    environment:
      POSTGRES_DB: mydatabase
      POSTGRES_USER: myuser
      POSTGRES_PASSWORD: mypassword
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data/

  redis:
    image: redis:latest
    container_name: alx_redis
    ports:
      - "6379:6379"
    volumes:
      - redis_data:/data # <-- ADD THIS LINE

volumes:
  postgres_data:
  redis_data:           # <-- ADD THIS LINE
